* { box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

html, body { 
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  padding: 0.5rem;
  gap: 0.5rem;
  grid-template-columns: 360px 1fr;
  grid-template-rows: auto 360px 1fr 1fr;
  grid-template-areas:
    "header header"
    "animation inputs"
    "main main"
    "footer footer";
}

header { grid-area: header; }
section#animation-container { grid-area: animation; }
section#inputs { grid-area: inputs; }
main { grid-area: main; }
footer { grid-area: footer; }

section#inputs { overflow: hidden; }

form { margin: 2rem auto 3rem; }

form label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0 1rem;
}

fieldset {
  width: 100%;
  padding: 0;
  margin: 0 0 1rem;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

legend {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0 0.5rem 0 0;
  margin: 0 0 1rem;
}

input,
select {
  appearance: none;
  font-size: 1rem;
  padding: 0.2em 0.4em;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-top-color: rgb(213, 213, 213);
  border-bottom-color: rgb(213, 213, 213);
  border-top-color: #00000017;
  border-bottom-color: #00000036;
  border-radius: 0.35em;
  font-size: 1rem;
  padding: 0.25em 0.65em;
  line-height: 1;
  box-shadow: 0 0.05em 0.15em #0000001a, 0 0.15em 0.9em #00000005;
}

input { max-width: 6em; }
select { line-height: 1.15; }

button {
  appearance: none;
  font-size: 1rem;
  padding: 0.2em 0.4em;
  display: block;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  color: #f07909;
  background: white;
  box-shadow: 0 2px 0 5px #f07909;
  position: relative;
  top: 0;
  transition: 0.15s all;
  cursor: pointer;
}

button:active {
  top: 2px;
  box-shadow: 0 0px 0 5px #f07909;
}

button span { font-size: 1.5em; font-weight: 700; }

.calculated-sag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f07909;
  background-color: #f17a0a17;
  padding: 1.5rem 1.5rem;
  border-radius: 20px;
}

.calculated-sag div {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  color: #d46633;
}

.calculated-sag div span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: monospace;
}

@media(max-width: 450px) {
  #animation, #simulate { display: none; }
  .calculated-sag div { align-items: center; }
  .calculated-sag { justify-content: center; }
}

.curve-container {
  padding-bottom: 30px;
  position: relative;
  margin: 1rem 0;
}

.curve-container > span {
  position: absolute;
  pointer-events: none;
}

.curve-container { padding-left: 40px; }

.curve-container > span:not(.x-axis) {
  text-align: right;
  display: inline-block;
  width: 30px;
}

#upper-leverage,
#base-leverage,
#lower-leverage {
  line-height: 1;
  transform: translateY(-50%);
  left: 0;
}

#upper-leverage { top: 0; }
#base-leverage { top: calc(50% - 15px); }
#lower-leverage { bottom: 15px; }

.x-axis {
  transform: translateX(-50%);
  bottom: 0;
  left: calc(50% + 20px);
  font-size: 0.7em;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
}

.curve-heading {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

.curve-heading h2 {
  font-size: 1rem;
  margin: 0;
}

#curve {
  border: 1px solid #eaeaea;
  border-radius: 12px;
  overflow: hidden;
  box-shadow:0 0.05em 0.15em #0000001a, 0 0.15em 0.9em #00000005;
  cursor: row-resize;
}

.table {
  display: grid;
  grid-template-areas:
    "- - cw-label"
    "- - cw"
    "rw-label rw data";
  grid-template-columns: 30px 40px 1fr;
  grid-template-rows: 30px 40px 1fr;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  padding-right: 40px;
  overflow: hidden;
}

.cw-label { grid-area: cw-label; }
.cw { grid-area: cw; }
.rw-label { grid-area: rw-label; }
.rw { grid-area: rw; }
.table-data { grid-area: data; }

.cw-label {
  z-index: 1;
  position: relative;
  left: 40px;
  background: red;
  border-bottom: 1px solid black;
}

.cw-label span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cw {
  align-items: center;
  display: flex;
}

.cw div {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

.cw span {
  bottom: -20px; /* rowheight/2 */
  color: transparent;
  display: block;
  height: 0;
  padding-bottom: 70.7%; /* =1/sqrt(2) */
  position: absolute;
  transform-origin: top left;
  transform: translateY(100%) rotate(-45deg);
  width: 141.4%;
}

.cw span:after {
  color: black;
  content: attr(data-weight);
  left: 12px; /* arbitrary */
  padding-left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 0;
}

.cw div:first-child span:before {
  border-top: 1px solid black;
}

.cw span:before {
  border-bottom: 1px solid black;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 600px;
}

.rw-label {
  position: relative;
  background: red;
  border-right: 1px solid black;
}

.rw-label span {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.rw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
}

.rw span {
  border-bottom: 1px solid black;
}

.table table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  background: white;
}

.table td {
  border: 1px solid black; 
}

.rw span,
.table td {
  padding: 0.4em;
  line-height: 1;
}
